<?xml version="1.0"?>

<launch>
    <node pkg="self_charging" type="lidar_auto_charging.py" name="auto_charging" output="screen">
        <param name="init_charging_topic" value="self_charging/init"/>
        <param name="battery_topic" value="battery/percentage"/>
        <param name="pose_topic" value="pf/pose/odom"/>
        <param name="drive_topic" value="high_level/twist_cmd_mux/input/nav_3"/>
        <param name="contactor_topic" value="self_charging/contactor"/>
        <param name="stop_charging_topic" value="self_charging/pause"/>
        <param name="finish_charging_topic" value="self_charging/status"/>
        <param name="suspend_topic" value="suspend/input/navi"/>
        <param name="stop_pt_x" value="-32.68"/>   <!-- [m] -->
        <param name="stop_pt_y" value="24.35"/>    <!-- [m] -->
        <param name="check_pt_x" value="-30.7"/>  <!-- [m] -->
        <param name="check_pt_y" value="21.5"/>   <!-- [m] -->
        <param name="finish_pt_x" value="-31.5"/> <!-- [m] -->
        <param name="finish_pt_y" value="20.0"/>  <!-- [m] -->
        <param name="heading_min" value="70"/>    <!-- [deg] -->
        <param name="heading_max" value="110"/>   <!-- [deg] -->
        <param name="charging_route" value="/home/atlas80-b/catkin_ws/src/pure_pursuit_navigation/trajectories/psa/psa_charging.traj"/>
    </node>

    <node pkg="self_charging" type="charging_navi.py" name="charging_navi">
        <param name="init_charging_topic" value="self_charging/init"/>
        <param name="pose_topic" value="pf/pose/odom"/>
        <param name="drive_topic" value="high_level/twist_cmd_mux/input/nav_3"/>
        <param name="stop_charging_topic" value="self_charging/pause"/>
        <param name="lookahead" value="0.8"/>      <!-- [m] -->
        <param name="max_reacquire" value="1.0"/>  <!-- [m] -->
        <param name="KV" value="0.03"/>
        <param name="KW" value="0.03"/>
    </node>
</launch>
