<?xml version="1.0"?>

<launch>
    <arg name="pose_topic" default="pf/pose/odom"/>
    <arg name="amcl_topic" default="amcl_pose"/>

    <node pkg="self_charging" type="psa_auto_charging_v2.py" name="psa_auto_charging_v2" output="screen">
        <param name="init_charging_topic" value="self_charging/init"/>
        <param name="battery_topic" value="battery/percentage"/>
        <param name="pose_topic" value="$(arg pose_topic)"/>
        <param name="amcl_topic" value="$(arg amcl_topic)"/>
        <param name="drive_topic" value="high_level/twist_cmd_mux/input/nav_5"/>
        <param name="mag_drive_topic" value="high_level/twist_cmd_mux/input/nav_1"/>
        <param name="contactor_topic" value="self_charging/contactor"/>
        <param name="stop_charging_topic" value="self_charging/pause"/>
        <param name="finish_charging_topic" value="self_charging/status"/>
        <param name="suspend_topic" value="suspend/input/navi"/>
        <param name="notify_topic" value="notify"/>
        <param name="magnetic_topic" value="magnetic"/>
        <param name="charge_stop_voltage" value="80"/>  <!-- [%] -->
        <param name="charge_stop_offset" value="10"/>   <!-- [%] -->
        <param name="stop_pt_x" value="-31.4"/>   <!-- [m] -->
        <param name="stop_pt_y" value="24.6"/>    <!-- [m] -->
        <param name="check_pt_x" value="-30.7"/>  <!-- [m] -->
        <param name="check_pt_y" value="21.5"/>   <!-- [m] -->
        <param name="finish_pt_x" value="-31.5"/> <!-- [m] -->
        <param name="finish_pt_y" value="20.0"/>  <!-- [m] -->
        <param name="heading_min" value="70"/>    <!-- [deg] -->
        <param name="heading_max" value="110"/>   <!-- [deg] -->
        <param name="charging_route" value="/home/atlas80-b/catkin_ws/src/pure_pursuit_navigation/trajectories/psa/psa_charging.traj"/>
    </node>

    <node pkg="self_charging" type="charging_navi_v2.py" name="charging_navi_v2">
        <param name="init_charging_topic" value="self_charging/init"/>
        <param name="pose_topic" value="$(arg pose_topic)"/>
        <param name="amcl_topic" value="$(arg amcl_topic)"/>
        <param name="drive_topic" value="high_level/twist_cmd_mux/input/nav_3"/>
        <param name="stop_charging_topic" value="self_charging/pause"/>
        <param name="lookahead" value="0.8"/>      <!-- [m] -->
        <param name="max_reacquire" value="1.0"/>  <!-- [m] -->
        <param name="KV" value="0.03"/>
        <param name="KW" value="0.03"/>
    </node>
</launch>
