# Set the udev rule, make the device_port be fixed by YDlidar G4
#
SUBSYSTEMS=="usb", KERNEL=="tty*", ACTION=="add", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", MODE="666", GROUP="dialout", SYMLINK+="ydlidar_g4"
