<?xml version="1.0"?>

<launch>
    <arg name="scan" default="scan"/>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
	<rosparam file="$(find navigation2d_example)/param/Costmap/AGV_global_costmap_params.yaml" command="load"/>
	<rosparam file="$(find navigation2d_example)/param/Costmap/AGV_local_costmap_params.yaml" command="load"/>
	<rosparam file="$(find navigation2d_example)/param/Planner/AGV_global_planner_params.yaml" command="load"/>
	<rosparam file="$(find navigation2d_example)/param/Planner/AGV_dwa_local_planner_params.yaml" command="load"/>

	<param name="base_global_planner" value="global_planner/GlobalPlanner"/>
	<param name="planner_frequency" value="5.0"/> <!-- (Hz) -->
	<param name="planner_patience" value="20.0"/> <!-- (sec) -->

	<param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>
	<param name="controller_frequency" value="5.0"/> <!-- (Hz) -->
	<param name="controller_patience" value="20.0"/> <!-- (sec) -->
	<param name="clearing_rotation_allowed" value="true"/> <!-- Our AGV is able to rotate in place -->
	<remap from="odom" to="odometry/filtered"/>

	<remap from="scan" to="$(arg scan)"/>
    </node>

</launch>
